[user]
  name = Ryan McVicar
  email = rymcvicar@gmail.com
[core]
  editor = code --wait
  excludesfile = ~/.gitignore
  autocrlf = input
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[init]
  defaultBranch = main
[push]
  default = simple
[difftool]
  prompt = false
[pull]
	rebase = true
